<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{57,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>alien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,162}}</string>
                <key>offset</key>
                <string>{0,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{960,162}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,309},{680,128}}</string>
                <key>offset</key>
                <string>{6,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,467},{680,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{770,126}}</string>
                <key>offset</key>
                <string>{48,240}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,17},{770,126}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,175},{868,132}}</string>
                <key>offset</key>
                <string>{-3,-254}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,508},{868,132}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,309},{708,130}}</string>
                <key>offset</key>
                <string>{-62,255}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{708,130}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,59},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>fire-button-idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,795},{196,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>fire-button-pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,763},{196,196}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>healthbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,79},{150,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,15}}</string>
                <key>sourceSize</key>
                <string>{150,15}</string>
            </dict>
            <key>joystick-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,662},{198,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joystick-stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,862},{130,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{130,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>monster-a-anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,579},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>monster-a-anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,450},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>monster-a-anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,444},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>monster-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,309},{133,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,64}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>monster-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,309},{279,139}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{279,139}}</string>
                <key>sourceSize</key>
                <string>{313,143}</string>
            </dict>
            <key>monster-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,309},{280,134}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{280,134}}</string>
                <key>sourceSize</key>
                <string>{300,158}</string>
            </dict>
            <key>ship-anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,585},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,450},{218,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{218,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,445},{222,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{222,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,551},{212,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,7},{212,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,657},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,556},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>shot-a.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,99},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>shot-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,139},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>shot-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,59},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>snot.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,166},{60,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>spider.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,445},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textureatlas_PVRTC2_no-alpha.pvr</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658a83f0b93cc5d29a949f6c00f09a0c$</string>
            <key>textureFileName</key>
            <string>textureatlas_PVRTC2_no-alpha.pvr</string>
        </dict>
    </dict>
</plist>
